body {
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:darkgoldenrod(238, 227, 158);
    color:#fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color:dimgray;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.3);
}

h1{
    margin-bottom: 20px;
}

textarea{
    width: 600px;
    height: 300px;
    margin-bottom:auto;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #cfcfcf;
}

button{
    padding: 10px 20px;
    background-color: rgb(249, 126, 18);
    color: white;
    border: none;
    border-radius: Spx;
    cursor: pointer;
    font-size: 16px;
}